common:
  env: tst
  deployment:
    replicas: 2

configMap:
  blobstoreProjectId: ent-irkalla-tst
  pubsubProjectId: ent-irkalla-tst
  nabuPubsubProjectId: ent-nabu-tst
  chouetteUrl: http://chouette.tst.entur.internal
  tiamatUrl: http://tiamat.tst.entur.internal

  auth0:
    partner:
      url: https://partner.staging.entur.org/
      audience: https://api.staging.entur.io

    client:
      clientId: O6wwOCbzHnBSHU1zfoCCMvOFl5IZrqTa
      tokenUri: https://internal.staging.entur.org/oauth/token
      audience: https://api.staging.entur.io
  baba:
    service: http://baba.staging.entur.internal

  roleAssignmentExtractor: baba


  blobstoreName: ror-irkalla-tst
  kafka:
    brokers: entur-kafka-test-ext-entur-test.aivencloud.com:11877
    registry: https://entur-kafka-test-ext-entur-test.aivencloud.com:11867
    topicUpdatedStopPlaces: ror-stop-place-changelog-staging
    secProtocol: SASL_SSL
    saslMechanism: SCRAM-SHA-512
