common:
  env: dev
  deployment:
    replicas: 2


configMap:
  blobstoreProjectId: ent-irkalla-dev
  pubsubProjectId: ent-irkalla-dev
  nabuPubsubProjectId: ent-nabu-dev
  chouetteUrl: http://chouette.dev.entur.internal
  tiamatUrl: http://tiamat.dev.entur.internal

  auth0:
    partner:
      url: https://partner.dev.entur.org/
      audience: https://api.dev.entur.io,https://ror.api.dev.entur.io
    client:
      clientId: BfTrdg7DoA0e1BZmGuqciTWaf4rTYf9x
      tokenUri: https://internal.dev.entur.org/oauth/token
      audience: https://api.dev.entur.io
  baba:
    service: http://baba.dev.entur.internal

  roleAssignmentExtractor: baba

  blobstoreName: ror-irkalla-dev
  kafka:
    brokers: entur-kafka-test-ext-entur-test.aivencloud.com:11877
    registry: https://entur-kafka-test-ext-entur-test.aivencloud.com:11867
    topicUpdatedStopPlaces: ror-stop-place-changelog-dev
    secProtocol: SASL_SSL
    saslMechanism: SCRAM-SHA-512
